extends layout

block content
  div(id="wrap")
    section(id="page")
      h1 #{title}
      form(class="form", method='post', action='/blog/new/')
        div
          div
            span Title :
            p
              input(id="title", type="text", name="title")
          div
            span Body :
            P
              textarea(id="blog", name="blog", rows=20)
          div
            span Author :
            P
              input(id="author", type="text", name="author")
          div#editArticleSubmit
            input(id="submit", type="image", src="/images/submit.png")